body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: .5em;
    color: white;
    font-size: larger;
    background-color: grey;
    background-blend-mode: color-burn;
    background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");

}

.heading{
    color: lightgoldenrodyellow;
    font-family: cursive;
    text-align: center;
    font-size: xxx-large;
}
.About:hover{
    border-bottom: whitesmoke 3px solid;
    font-size: large;
    color: aqua;
    background-color: grey;
}
.Contact:hover{
    border-bottom: whitesmoke 3px solid;
    font-size: large;
    color: aqua;
    background-color: grey;
}
.Home:hover{
    border-bottom: whitesmoke 3px solid;
    font-size: large;
    color: aqua;
    background-color: grey;
}
.Home{
    text-decoration: none;
     color: lightgoldenrodyellow;
    border-radius: 45px;
    padding: 4px 5px;
 border: whitesmoke 4px solid;
}
.Services{
    text-decoration: none;
     color: lightgoldenrodyellow;
    border-radius: 45px;
    padding: 4px 5px;
 border: whitesmoke 4px solid;
}
.About{
    text-decoration: none;
     color: lightgoldenrodyellow;
    border: whitesmoke 4px solid;
    border-radius: 45px;
    padding: 4px 5px;

}
.Contact{
    text-decoration: none;
    color: lightgoldenrodyellow;
     border: whitesmoke 4px solid;
    border-radius: 45px;
    padding: 4px 5px;
}